body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-image: url('./background.jpg');
  /* Use your local image */
  background-size: contain;
  /* Used contain to ensure the entire image is visible */
  background-position: top center;
  /* Positioned the image at the top center */
  background-repeat: no-repeat;
  /* Prevent the image from repeating */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.container {
  max-width: 400px;
  margin: auto;
}

h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
}

input[type='date'] {
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 20px;
  /* width: 100%; */
  width: calc(100% - 20px);
  /* Adjust width to fit within container */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  /* Include padding and border in the element's total width and height */
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

.age-result {
  margin-top: 20px;
  font-size: 1.5rem;
}